.imgsize {
    height: 275px;
    width: 1500px;
    
}
a {
    text-decoration: none;
}
.center {
    text-align: center;
    
}
.style {
    margin-bottom: 8px;
    margin-left:50%;
    margin-top: 8px;
} 